/* * {
  box-sizing: border-box;
}


/* html {
  filter: grayscale(100%);
} */


/* body {
  margin: 0;
  /* background-image: url('./photo/pexels-janko-ferlic-590493.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.home {
  background-color: #2196F3;
  color: white;
}

.srcbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  width: 500px;
  font-size: 17px;
  border: none;
}

.srcbar {
  text-align: center;
}

.srcbar button {
  float: none;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.srcbar button:hover {
  background: #ccc;
}

.topnav a.login {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a, .srcbar input[type=text], .srcbar button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .srcbar input[type=text] {
    border: 1px solid #ccc;
  }
} */


* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

/* .topnav a.home {
  background-color: #2196F3;
  color: white;
} */

.topnav .search-container {
  float: none;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 300px;
  border: none;
}

.topnav .search-container .src {
  float: none;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container .src:hover {
  background-color: #555;
  color: white;
}

.topnav .search-container .login {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container .login:hover {
  background-color: #555;
  color: white;
}

.showing {
  text-align: center;
  font-weight: bold;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: auto;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* .sidebar a.active {
  background-color: #4CAF50;
  color: white;
} */

.sidebar a:hover {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* .middle::after {
  content: "";
  clear: both;
  display: table;
} */

ul {
  list-style-type: none;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
